*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'popins'sans-serif;
}
body{
  background-color:#023047;
  color: white;
}
.hero-section{
    position: relative;
    padding: 0 7%;
    height: 100vh;
    width: 100%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.all{
    display: flex;
    align-items: center;
}
nav ul{
display: flex;
  
    
}
nav ul li{
    margin-right: 25px;
    list-style: none;

   
}
ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-transform: capitalize;
    opacity: 1;
    cursor: pointer;
}

.all .menu{
    height: 22px;
    margin-right: 25px;
    cursor: pointer;
}
.img-sec .logo{
    width: 160px;
    cursor: pointer;
}
button{
    height: 30px;
    width: 60px;
    border-radius: 22px;
    border: 0;
    outline: 0;
    cursor: pointer;
    background-color: black;
    /* transition: background-color 0.18s ; */

    /* transition: background-color 0.5s; */
}
button span{
    display: block;
    height: 30px !important;;
    width: 30px !important;
    border-radius: 50px;
    background-color: #ccc;
    margin-left: 2px;
    cursor: pointer;
    
    
}
 .lamp{
    width: 200px;
    position: absolute;
    top: -20px;
    left: 22%;
}
 .light{
   position: absolute;
   top: 57%;
   left: 10%;
   width: 500px;
   opacity: 0; 
}
.goodone{
    opacity: 1;
}
.on{
    background-color:black;
}
.written-sec{
position: absolute;
left: 50%;
top: 50%;
    
}
.written-sec h1{
    text-transform: uppercase;
    margin-bottom: 8px;
    font-size: 40px;
}
.beauty{
    background-color: whitesmoke;
    display: table;
    color: green;
    border-radius: 5px;
    padding: 0px 4px;
}
.written-sec p{
    text-transform: capitalize;
    font-size: 20;
    font-weight: bold;
}
.bnn{
    font-size: 18px;
    font-weight: 900;
  
}
.written-sec #blove{
    height: 50px;
    width: 200px;
    margin-top: 20px;
    background-color: green;
    color: white;
    font-size: 22px;
    border-radius: 5px;
    text-transform: capitalize;
}
.ghoo{
    background-color: whitesmoke;
}
.cantrol{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 120px;
}
.cantrol .line{
    height: 4px;
    width: 250px;
    background: white;
    margin: 0 3px;
}
.cantrol .line span{
    width: 120px;
    height: 8px;
    border-radius: 4px;
    margin-top: -2px;
    background-color: green;
    display: block;
}
.btnone{
    background-color: white;
    transition: 0.5s;
    
}
.btnone span{
    background-color: green;
    margin-left: 30px;
    transition: 0.5s;
}

.updown{
    background-color:yellow;
}
.under{
    color: green;
  
}